<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591487860438-ahstqd8g52khemuu8s32rs7f68at7von.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591487860438-ahstqd8g52khemuu8s32rs7f68at7von</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>591487860438-a3shntif3v4libqddk9efhsho73bf0b7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABREDrJZO7Q3NcG6aS0blZQTuFT6MxHuU</string>
	<key>GCM_SENDER_ID</key>
	<string>591487860438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coordimentor.app</string>
	<key>PROJECT_ID</key>
	<string>coordimentor</string>
	<key>STORAGE_BUCKET</key>
	<string>coordimentor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591487860438:ios:a5aa7929bebecad3ba5377</string>
</dict>
</plist>